@using DEM_MVC.Services.Helpers
@model DEM_MVC_BL.Models.ForumModels.PostTableViewModelList

@{
    var postTableViewModel = Model.PostTableViewModel;
}
@for (int i = 0; i < postTableViewModel.Count; i++)
{
    var pollOptionOddEvenInt = "postColor2";
    if (ViewHelper.IsOdd(i))
    {
        pollOptionOddEvenInt = "postColor1";
    }

    var post = postTableViewModel[i];
    var postId = "postId" + post.PostId;
    var btnClasses = "display-none ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only";

    <div id="@postId" class="post postShadow @pollOptionOddEvenInt">
        <div class="postLink">
            @Html.ActionLink("Link to post", "ViewTopic", "Forum", new { topicId = post.TopicId, page = Model.PageNumber, postId = post.PostId }, null)
        </div>
        <div class="postButtons">
            buttons
            <div class="admin-delete-post-buttons">
                <button class="deletePostBtn @btnClasses" role="button" onclick="deletePost(@post.PostId)"><span class="ui-button-text colorRed">Delete Post</span></button>
            </div>
        </div>
        <div class="postBody">
            <div class="postUserInfo postShadow">
                <div class="UsenName" style="color: #@post.User.GroupColor">
                    <span class="userName">@post.User.UserName</span>
                    <div class="admin-ban-unban-buttons">
                        <button class="banUserBtn @btnClasses" role="button" onclick="banUser(@post.UserId)"><span class="ui-button-text colorRed">Ban User</span></button>
                        <button class="unbanUserBtn @btnClasses" role="button" onclick="unbanUser(@post.UserId)"><span class="ui-button-text colorGreen">UnBan User</span></button>
                    </div>
                </div>
                <div class="UserRank">
                    @if (String.IsNullOrWhiteSpace(post.User.UserUniqueRank))
                    {
                        <span>@Html.Raw(post.User.UserCommonRank)</span>
                    }
                    else
                    {
                        <span>@Html.Raw(post.User.UserUniqueRank)</span>
                    }
                </div>
                <div class="UserAvatar">
                    @if (!String.IsNullOrWhiteSpace(post.User.UserAvatar))
                    {
                        <img class="postShadow avatarImageSize" alt="Аватара" src="@post.User.UserAvatar">
                    }
                    else if (!String.IsNullOrWhiteSpace(post.User.GroupAvatar))
                    {
                        <img class="postShadow avatarImageSize" alt="Аватара" src="@post.User.GroupAvatar">
                    }
                </div>
                <div class="UserAge">
                    @post.User.UserBirthday
                </div>
                <div class="UserFrom">
                    @Html.Raw(post.User.UserFrom)
                </div>
                <div class="UserMedals">
                    medals
                </div>
                <div class="Reputation">
                    reputation
                </div>
                <div class="Posts">
                    @post.User.UserPostsCount
                </div>
                <div class="UserWithUs">
                    with us
                </div>
            </div>
            <div class="postTextAndSignature">
                <div class="postText postShadow">
                    @Html.Raw(post.PostText)
                </div>
                <div class="postUserSignature postShadow">
                    @Html.Raw(post.User.UserSignature)
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="postEdits">
            @post.PostEditTime
        </div>
        <div class="postWarnings">
            warnings
        </div>
    </div>
}