@using DEM_MVC.Services.Helpers
@model IList<DEM_MVC_BL.Models.ForumModels.TopicTableViewModel>

@if (Model.Count > 0)
{
    var navigationBtnClasses = "demNavigationBtn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only nonDecoration";

    <div class="topicsContainer">
        <div class="topicsCategory">
            <div class="topicsCategoryName">
                Темы
            </div>
            <div class="topicsCategoryPosts">
                Сообщения
            </div>
            <div class="topicsCategoryViews">
                Просмотров
            </div>
            <div class="topicsCategoryLastPost">
                Последнее сообщение
            </div>
        </div>
        <div class="topicsCategoryBody">
            @foreach (var topic in Model)
            {
                <div class="topic">
                    <div class="topicsCategoryName">
                        <div>
                            @Html.ActionLink(topic.Title, "ViewTopic", "Forum", new { topicId = topic.TopicId }, null)
                            @if(topic.TopicClosed)
                            {
                                @Html.Span(" - тема закрыта", new { @class = "colorRed textBold" })
                            }
                        </div>
                        <div class="topicsCategoryNameDescription">
                            <span style="color: #@topic.TopicStarterGroupColor">@Html.Raw(topic.TopicStarterUsername)</span> @topic.TopicStartTime
                        </div>
                        <div class="topicsCategoryNameDescriptionPaging">
                            @Html.PostPagingForViewForum(topic, "ViewTopic", "Forum", new { @class = navigationBtnClasses })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="topicsCategoryPosts">
                        @topic.PostsCount
                    </div>
                    <div class="topicsCategoryViews">
                        @topic.TopicViews
                    </div>
                    <div class="topicsCategoryLastPost">
                        <div>
                            <span style="color: #@topic.LastPostGroupColor">@Html.Raw(topic.LastPostUsername)</span> @topic.LastPostTime
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}